<% include _doc %>
<html>
    <head>
        <% include _header %>
        <% include _css %>

        <% include _js %>

        <script type="text/javascript" src="/js/customer.js"></script>
    </head>
    <body>
        <% include _menu %>
        <div class="wrapper">
            <div class="background"></div>

                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center center">
                            <div class="well">
                                <legend><h1>Gérer ses Clients</h1></legend>
                                &nbsp;<br/>
                                <% if (srv.pstatus != "") { %>
                                    <div class="form-group text-center">
                                        <% if (srv.pstatus === "upd-CUS") { %><span class="label label-success">Client bien mis à jour</span><% } %>
                                        <% if (srv.pstatus === "new-CUS") { %><span class="label label-success">Client bien ajouté</span><% } %>
                                        <% if (srv.pstatus === "del-CUS") { %><span class="label label-success">Client bien supprimé</span><% } %>
                                        <% if (srv.pstatus === "err-CUS") { %><span class="label label-danger">Error lors de la suppression du Client</span><% } %>
                                        <% if (srv.pstatus === "rej-CUS") { %><span class="label label-danger">Impossible de supprimer ce Client ! Il est utilisé sur <b><%= srv.pstatusvar %></b> Devis/Facture(s)</span><% } %>
                                     </div>
                                    &nbsp;<br/>
                                <% } %>
                                <!--  ****************************  CUSTOMER   ****************************   -->

                                <div class="row text-center">
                                    <button type="button" id="addCustomer" class="btn btn-primary">Ajouter un Client</button>
                                </div>
                                &nbsp;<br/>
                                <small class="help">Les clients peuvent être de simples contacts pour devis ou de vrais clients liés à une facture.<br/>Lorsqu'un devis devient une facture, le client "prospect" devient un client à part entière.<br/>
                                Les lignes dans le tableau qui apparaissent <span class="opacited">grisées et en italiques</span> représentent les <b>contacts</b> qui n'ont jamais été facturés</small><br/>
                                &nbsp;<br/>
                                <input type="checkbox" id="filterProspect" name="filterProspect"><span id="filterProspect"> Filtrer les prospects</span><br/>
                                &nbsp;<br/>
                                <div class="row">
                                    <% if (srv.customerList && srv.customerList.length > 0) { %>
                                        <input type="hidden" id="maxCustomer" value="<%= srv.customerList.length %>" />
                                    <% } %>
                                    <table id="customertab" class="stripe hover cell-border row-border nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Type</th>
                                                <th>Client</th>
                                                <th>Contact</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (srv.customerList && srv.customerList.length > 0) { %>
                                                <% for(var i = 0; i < srv.customerList.length; i++) { %>
                                                    <tr class="<% if (srv.customerList[i].customerStatus != 1) { %>opacitedTR<% } %>">
                                                        <td id="idCustomer<%= i %>" class="<% if (srv.customerList[i].customerStatus != 1) { %>opacited<% } %>"><%= srv.customerList[i].customerId %></td>
                                                        <td>
                                                            <% if (srv.customerList[i].customerType == -1) { %>
                                                                <img src="/im/gl_group.png" title="Personne Morale" alt="Morale" border="0"/>
                                                            <% } else { %>
                                                                <img src="/im/gl_user.png" title="Personne" alt="Personne" border="0"/>
                                                            <% } %>
                                                        </td>
                                                        <td id="labelCustomer<%= i %>" class="<% if (srv.customerList[i].customerStatus != 1) { %>opacited<% } %>">
                                                            <%- srv.customerList[i].displayName %>
                                                        </td>
                                                        <td class="<% if (srv.customerList[i].customerStatus != 1) { %>opacited<% } %>">
                                                            <% if (srv.customerList[i].companyContactTel || srv.customerList[i].companyContactMobile || srv.customerList[i].companyContactMail) { %>
                                                                <% if (srv.customerList[i].companyContactTel) { %>
                                                                    <span class="glyphicon glyphicon-earphone"></span> <%- srv.customerList[i].companyContactTel.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                                <% if (srv.customerList[i].companyContactMobile) { %>
                                                                    <span class="glyphicon glyphicon-phone"></span> <%- srv.customerList[i].companyContactMobile.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                                <% if (srv.customerList[i].companyContactMail) { %>
                                                                    <span class="glyphicon glyphicon-envelope"></span> <%- srv.customerList[i].companyContactMail.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                            <% } %>
                                                            <% if (srv.customerList[i].personContactTel || srv.customerList[i].personContactMobile || srv.customerList[i].personContactMail) { %>
                                                                <% if (srv.customerList[i].personContactTel) { %>
                                                                    <img src="/im/gl_user.png" title="Personne" alt="Personne" border="0"/><span class="glyphicon glyphicon-earphone"></span> <%- srv.customerList[i].personContactTel.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                                <% if (srv.customerList[i].personContactMobile) { %>
                                                                    <img src="/im/gl_user.png" title="Personne" alt="Personne" border="0"/><span class="glyphicon glyphicon-phone"></span> <%- srv.customerList[i].personContactMobile.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                                <% if (srv.customerList[i].personContactMail) { %>
                                                                    <img src="/im/gl_user.png" title="Personne" alt="Personne" border="0"/><span class="glyphicon glyphicon-envelope"></span> <%- srv.customerList[i].personContactMail.replace(new RegExp(" ", 'g'), "&nbsp;") %><br/>
                                                                <% } %>
                                                            <% } %>

                                                        </td>
                                                        <td><a href="/customer?customerId=<%= srv.customerList[i].customerId %>"><span class="glyphicon glyphicon-pencil"></span></a>
                                                            <a id="delCustomer<%= i %>" href="#<%= i %>"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                &nbsp;<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include _footer %>
        <% include _popup %>

        <script type="text/javascript">
            $(document).ready(customerInitTab());
        </script>
    </body>
</html>