<% include _doc %>
<html>
    <head>
        <% include _header %>
        <% include _css %>

        <% include _js %>

        <script type="text/javascript" src="/js/product.js"></script>
    </head>
    <body>
        <% include _menu %>
        <div class="wrapper">
            <div class="background"></div>

                <div class="container">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center center">
                            <div class="well">
                                <legend><h1>Gérer ses Prestations</h1></legend>
                                &nbsp;<br/>
                                <% if (srv.pstatus != "") { %>
                                    <div class="form-group text-center">
                                        <% if (srv.pstatus === "upd-PRD") { %><span class="label label-success">Prestation bien mise à jour</span><% } %>
                                        <% if (srv.pstatus === "new-PRD") { %><span class="label label-success">Prestation bien ajoutée</span><% } %>
                                        <% if (srv.pstatus === "del-PRD") { %><span class="label label-success">Prestation bien supprimée</span><% } %>
                                        <% if (srv.pstatus === "err-PRD") { %><span class="label label-danger">Error lors de la suppression de la Prestation</span><% } %>
                                        <% if (srv.pstatus === "rej-PRD") { %><span class="label label-danger">Impossible de supprimer cette Prestation ! Elle est utilisée sur <b><%= srv.pstatusvar %></b> Devis/Facture(s)</span><% } %>
                                    </div>
                                    &nbsp;<br/>
                                <% } %>
                                <!--  ****************************  PRODUCT   ****************************   -->

                                <div class="row text-center">
                                    <button type="button" id="addProduct" class="btn btn-primary">Ajouter une Prestation</button>
                                </div>
                                &nbsp;<br/>
                                <small class="help">Les prestations seront les éléments de bases permettant de faire un devis ou une facture.</small><br/>
                                &nbsp;<br/>
                                <div class="row">
                                    <% if (srv.productList && srv.productList.length > 0) { %>
                                        <input type="hidden" id="maxProduct" value="<%= srv.productList.length %>" />
                                    <% } %>
                                    <table id="producttab" class="stripe hover cell-border row-border nowrap" cellspacing="0" width="100%">
                                        <thead>

                                            <tr>
                                                <th>#</th>
                                                <th>Code</th>
                                                <th>Catégorie</th>
                                                <th>Prestation</th>
                                                <th>Coût</th>
                                                <th>Prix TTC</th>
                                                <th>Unité</th>
                                                <th>TVA</th>
                                                <th>&nbsp;</th>
                                                <th>TVA</th>
                                                <th>fOk</th>
                                                <th>fNull</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (srv.productList && srv.productList.length > 0) { %>
                                                <% for(var i = 0; i < srv.productList.length; i++) { %>
                                                    <tr>
                                                        <td id="idProduct<%= i %>"><%= srv.productList[i].productId %></td>
                                                        <td><%= srv.productList[i].productCode %></td>
                                                        <td>
                                                            <% if (srv.productList[i].groupProductIcon) { %>
                                                                <a href="#" data-placement="bottom"  title="<%= srv.productList[i].groupProductLabel %>"
                                                                data-tooltipsmall="<%= srv.productList[i].groupProductLabel.replace("\"","\\\"") %>">
                                                                <img src="<%= srv.productList[i].groupProductIcon %>"/>
                                                            <% } else { %>
                                                                <%= srv.productList[i].groupProductLabel %>
                                                            <% } %>
                                                        </td>
                                                        <td id="labelProduct<%= i %>"><%= srv.productList[i].productLabel %></td>
                                                        <td><%= srv.productList[i].productPaid %></td>
                                                        <td><%= srv.productList[i].productTTC %></td>
                                                        <td><%= srv.productList[i].productUnit %></td>
                                                        <td><%= srv.productList[i].TVALabel %></td>
                                                        <td><a href="/product?productId=<%= srv.productList[i].productId %>"><span class="glyphicon glyphicon-pencil"></span></a>
                                                            <a id="delProduct<%= i %>" href="#<%= i %>"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
                                                        <td><%= srv.productList[i].TVAPercent %></td>
                                                        <td><% if (srv.session.ownerObj && srv.session.ownerObj.ownerFactorOk) { %><%= srv.session.ownerObj.ownerFactorOk %><% } %></td>
                                                        <td><% if (srv.session.ownerObj && srv.session.ownerObj.ownerFactorNull) { %><%= srv.session.ownerObj.ownerFactorNull %><% } %></td>
                                                    </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                &nbsp;<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include _footer %>
        <% include _popup %>

        <script type="text/javascript">
            $(document).ready(productInitTab());
        </script>
    </body>
</html>