<div class="form-group">
    <label for="<%= o.field %>" class="col-sm-<%= o.labelw %> control-label"><%= o.label %>
        <% if (o.tooltip) { %>
        <a href="#" data-placement="bottom" tabindex="-1"
            data-tooltip="<%= o.tooltip %>">
            <span class="glyphicon glyphicon-info-sign"></span></a>
        <% } %>
    </label>
    <div class="col-sm-<%= o.inputw %>">
        <textarea tabindex="<%= o.index %>" class="form-control <%= o.cls %>" name="<%= o.field %>" id="<%= o.field %>" rows="4" ><% if (o.value) { %><%= o.value %><% } %></textarea>
    </div>
</div>