<div class="form-group">
    <label for="<%= o.field %>" class="col-sm-<%= o.labelw %> control-label"><%= o.label %>
        <% if (o.tooltip) { %>
        <a href="#" data-placement="bottom" tabindex="-1"
            data-tooltip="<%= o.tooltip %>">
            <span class="glyphicon glyphicon-info-sign"></span></a>
        <% } %>
    </label>
    <div class="col-sm-<%= o.inputw %>">
        <input tabindex="<%= o.index %>" class="form-control" name="<%= o.field %>" id="<%= o.field %>" <% if (o.placeholder) { %>placeholder="<%= o.placeholder %>"<% } %> type="text"
                <% if (o.value) { %> value="<%= o.value %>" <% } %>
                trigger="keyup"
                data-bv-regexp="true"
                data-bv-regexp-regexp="^((http:\/\/|https:\/\/)?(www.)?(([a-zA-Z0-9-]){2,}\.){1,4}([a-zA-Z]){2,6}(\/([a-zA-Z-_\/\.0-9#:?=&;,]*)?)?)$"
                data-bv-regexp-message="l'URL n'est pas valide"
                >
    </div>
</div>